# =========================
# Maven
# =========================
target/
*.log
*.class
*.jar
*.war
*.ear

# Maven Wrapper
.mvn/
mvnw
mvnw.cmd

# =========================
# IDE Files
# =========================

# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr

# Eclipse / Spring Tool Suite (STS)
.classpath
.project
.settings/
.apt_generated/
.factorypath/
.springBeans/
.sts4-cache/

# NetBeans
nbproject/private/
nbbuild/
dist/
nbdist/
.nb-gradle/
build/

# VSCode
.vscode/

# =========================
# Config files (sensitive)
# =========================
src/main/resources/application.properties

# =========================
# Frontend (Vue / Node)
# =========================
frontend/node_modules/
frontend/package-lock.json
frontend/package.json

# Ignore frontend build (nếu có)
frontend/dist/
frontend/.env
